body { font-family:arial; font-size:14px; background-image:url('http://4.bp.blogspot.com/-UfUC7DwrNCo/TvWX_7rIGJI/AAAAAAAAB5k/BbMx-D9N09k/s1600/wood.jpg'); background-repeat:repeat; }
#page-wrap { text-align:center; width:950px; margin-left:auto; margin-right:auto; margin-top:20px; }
#header { height:60px; margin-top:20px; margin-bottom:20px; width:100%; text-align:center; 
	/*background-color: #F5F4F2; border:2px ridge #FFFFFF;*/
 }
#content { background-color:white; width:900px; padding:20px; text-align:left; margin-top:10px; border:2px solid gray;  }
h1 { padding:20px 10px 20px 10px; color:FF9500; margin:0; text-shadow: #FFFFFF 2px 2px 2px; }
.large { font-size:22px; }
.orange { color:orange; }
.italic { font-style:italic }
.textmiddle {vertical-align:middle;} 
.padout { padding-left:25px; padding-right:25px; }
.rounded-corners {
     -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    border-radius: 40px;
}
h2 { font-size:22px; color:#ed6a34; padding:10px 10px 10px 20px; 
	text-shadow: white 1px 1px 1px;
	margin:0;
  }
  p { margin-left:20px; font-size:14px; font-family:Georgia,Serif; }
.scrolldown { padding-left:20px; color:#EDECE8; font-size:40px; font-weight:bold; vertical-align:middle;
	text-shadow: #6374AB 2px 2px 2px;
 }
 #footer {  height:40px; margin-bottom:20px; width:100%; text-align:center; 
 margin-top:20px;
 text-align:center; 
 vertical-align:middle;
 } 
  #footer p { font-size:12px; color:#F8FACF; font-weight:bold; }
  #footer a {text-decoration:none; color:#F8FACF; font-weight:bold;}
  
.backtoblog { width:950px; padding:10px; margin-top:20px; margin-bottom:20px; font-size:18px; text-align:left; }
a img{ text-decoration:none; border:none; }

.clearing { clear:both; }

.singledemo { height:140px; width:960px; margin-bottom:20px; border:2px ridge #FFFFFF;
	/*background-image:url('http://2.bp.blogspot.com/-xVhfGUjQL_Y/TvWX_H_pFyI/AAAAAAAAB5g/e-dcKtiCVxo/s1600/lightwood-vertical.jpg'); background-repeat:repeat;*/
	background-color:#F5F4F2; text-align:center;
}
.demo-item-picture img { opacity:0.8; }
.demo-item-picture img:hover { opacity:1.0; }

#social-icons { float:right; position:relative; right:5px; top:5px;  }
.social-icon { opacity:0.8; }
.social-icon:hover { opacity:1.0; }
#slogan { color:F8FACF; font-weight:bold; font-size:16px; margin:0px 0px 0px 0px; }
/* 
http://2.bp.blogspot.com/-xVhfGUjQL_Y/TvWX_H_pFyI/AAAAAAAAB5g/e-dcKtiCVxo/s1600/lightwood-vertical.jpg
http://4.bp.blogspot.com/-UfUC7DwrNCo/TvWX_7rIGJI/AAAAAAAAB5k/BbMx-D9N09k/s1600/wood.jpg
*/
.demo-item-picture { float:left; width:400px; height:140px;  }
.demo-item-picture  img { width:400px; height:140px; }
.demo-item-links { display:inline-block; width:550px; height:140px; }
.demo-item-links h2 { background-color:#EBE9E6; }
.demo-item-links img { width:135px; height:30px; }
