.relatedsumposts {
  float: left;
  margin: 20px 5px;
  overflow: hidden;
  text-align: center;
  /* width and height of the related posts area */
  width: 140px;
  height: 215px;
background: #FEFEFE;
}

.stripe-line {
background:url(http://4.bp.blogspot.com/-TiexcKjYPBU/UVd7tPZcmHI/AAAAAAAADKs/9KCi_yAlfnA/s1600/stripe.png);
height:12px;
overflow:hidden;
margin-top:2px;
}

.relatedsumposts:hover { 
background-color: #F1F1F1;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.relatedsumposts img:hover {
-khtml-opacity:0.6;
-moz-opacity:0.6;
opacity:0.6;
}

.relatedsumposts a {
  /* link properties */
color: #1982D1;
  display: inline;
  font-size: 10px;
  line-height: 1;
}

.relatedsumposts a:hover{
text-decoration: none;
color: #FF6600;
}

.relatedsumposts img {
  /* thumbnail properties */
margin-top: 2px;
  height: 82px;
  padding: 5px;
  width: 82px;
border: 1px solid #fff;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
.relatedsumposts h6 {
  /* title properties */
  display: table-cell;
  height: 5em;
  margin: 5px 0 0;
  overflow: hidden;
  padding-bottom: 2px;
  vertical-align: middle;
  width: 150px;
}

.relatedsumposts p {
  /* summary properties */
    background-color: #F9F9F9;
border-top: 1px dotted #777777;
border-bottom: 1px dotted #777777;
color: #summarycolor;
  font-size: 10px;
  height: 4em;
  line-height: 1;
  margin: 5px 0 0;
  overflow: hidden;
  padding: 5px 0 15px 0;
  text-align: left;
}