#foxmenucontainer46 {
height : 43px;
width: 1352px;
margin-left:-220px;
background : url(http://2.bp.blogspot.com/-a3zbf-4NuEg/T4Wjx5Lfk4I/AAAAAAAABvA/oMF8UaRGaOY/s1600/tab+bg.jpg);
display : block;
padding : 0 0 0 0;
font-weight : normal;
text-transform : uppercase;
overflow : hidden;
}

#menu46 {
margin-left: 150px;
padding : 0 10px;
width : 100%;
background : url(http://2.bp.blogspot.com/-a3zbf-4NuEg/T4Wjx5Lfk4I/AAAAAAAABvA/oMF8UaRGaOY/s1600/tab+bg.jpg);
height : 43px;
}

#menu46 ul {
float : left;
list-style : none;
margin : 0;
padding : 0;
}

#menu46 li {
float : left;
list-style : none;
margin : 0;
padding : 0;
}

#menu46 li a, #menu46 li a:link, #menu46 li a:visited {
    border-right: 1px solid #595959;
color : #fff;
font-size : 14px;
display : block;
margin : 0;
padding : 12px 15px 9px 15px;
text-decoration : none;
}

#menu46 li:hover, #menu46 li a:active {
background: url(http://1.bp.blogspot.com/-PMEeVy8XxXg/UaLaae6gvOI/AAAAAAAADiY/AOp4NN2HntM/s1600/tab2.png);
background-repeat: no-repeat;
height : 43px;
margin: 0px;
text-decoration : none;
}

#menu46 li ul {
z-index : 9999;
position : absolute;
left : -999em;
height : auto;
width : 170px;
margin : 0;
padding : 0;
}
#menu46 li ul a {
width : 140px;
}