.code6 {
overflow:auto;width:360px;height:246px;
font-family: "Arial";
color:#47262E;
margin : 15px 35px 15px 15px;
padding : 15px -15px 10px 50px;
clear : both;
list-style-type : none;
background : url(http://3.bp.blogspot.com/-LBm9I9TMM6g/T33wA7ME3TI/AAAAAAAABpI/sTgD4XwuQcA/s1600/blockquote.gif) repeat-y top left;
-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition-duration:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-border-radius:3px;-moz-border--moz-border-radius: 23px 20px 20px 20px;border-radius: 23px 20px 20px
}