#nav{
    height:35px;
    border-bottom:1px solid #ddd;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background:#fff url(http://2.bp.blogspot.com/-bckLuWC19WY/T0fJrpz6iKI/AAAAAAAAA54/MC8DKKhTLIo/s1600/navbar.png) repeat-x center left;
    z-index:999999;
}
#nav ul{
    height:25px;
    list-style:none;
    margin:6px auto 0px auto;
    width:600px;   
}
#nav ul li{
    display:inline;
    float:left;
    margin:0px 2px;
}
#nav a{
    font-size:11px;
    font-weight:bold;
    float:left;
    padding: 2px 4px;
    color:#999;
    text-decoration: none;
    border:1px solid #ccc;
    cursor: pointer;
    background:transparent url(http://4.bp.blogspot.com/-ShWV7a_7odE/T0fKLcy3gxI/AAAAAAAAA6A/ub4aoZ_NKdI/s1600/overlay.png) repeat-x center left;
    height:16px;
    line-height:16px;
}
#nav a:hover{
    background:#D9D9DA none;
    color: #fff;
}
#nav a.top span, #nav a.bottom span{
    float:left;
    width:16px;
    height:16px;
}
#nav a.top span{
    background:transparent url(http://3.bp.blogspot.com/-qZmlI1Nz7DM/T0fKY6MehSI/AAAAAAAAA6I/kb4LSXK4SpI/s1600/top.png) no-repeat center center;
}
#nav a.bottom span{
    background:transparent url(http://3.bp.blogspot.com/-kYbPC6fbW8E/T0fKkpgn4uI/AAAAAAAAA6Q/1EMaMEmc51o/s1600/bottom.png) no-repeat center center;
}

#nav ul li.search{
    float:right;
}
#nav input[type="text"]{
    float:left;
    border:1px solid #ccc;
    margin:0px 1px 0px 50px;
    padding:2px 2px 2px 2px;
}
input.searchbutton{
    border:1px solid #ccc;
    padding:1px;
    cursor:pointer;
    width:30px;
	height:22px;
    background:#E8E9EA url(http://2.bp.blogspot.com/-Z8TTNFUcQmQ/T0fKvZHRH_I/AAAAAAAAA6Y/FFtC1_2_snA/s1600/search.png) no-repeat center center;
}
input.searchbutton:hover{
    background-color:#D9D9DA;
}
